build/
Builds/
/apps/
/tools/
/drivers/
firmware/*
!firmware/transmitter_c3_mpu6050_rgb_catodo/
!firmware/transmitter_c3_mpu6050_rgb_catodo/**
!firmware/transmitter_c3_bmi160_rgb_catodo/
!firmware/transmitter_c3_bmi160_rgb_catodo/**
!firmware/receiver_s3_i2s_dual_cv02/
!firmware/receiver_s3_i2s_dual_cv02/**
.vs/
.vscode/
*.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
cmake-build-*/
apps/dvs-juce/build/
__pycache__/
